.black-stone {
    border: solid 1px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
}

.white-stone {
    border: solid 1px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}